---
layout: default
---
<a href="https://github.com/csumb-cst251/csumb-cst251.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="row">
  <div class="span3">
    <ul class="nav nav-list cst-nav-list affix">
      <li>
        <a href="#intro">
          <i class="icon-chevron-right"></i>
          Introduction
        </a>
      </li>
      <li>
        <a href="#schedule">
          <i class="icon-chevron-right"></i>
          Schedule
        </a>
      </li>
      <li>
        <a href="#announcements">
          <i class="icon-chevron-right"></i>
          Announcements
        </a>
      </li>
      
    </ul>
  </div>
  <div class="span9">    
    <div class="page-header">
      <h1>CST 251 <small>Web tools</small></h1>
    </div>
    <a name="schedule"></a>
    <h2>Schedule</h2>
    
    <div class="alert">
      <strong>Watch out!</strong> The schedule might change during the course. Subscribe to the <a href="#announcements">announcements</a> to be notified of any corrections.
    </div>
    
    <div class="row week" data-date="2013-01-22">
      <div class="span1 week-number">
        <h3><span class="element-invisible">week</span> 1</h3>
      </div>
      <div class="span8">
        <h4 class="title">Introduction: What's the web?</h4>
        <p>We'll cover the sundry administrative requirements of the course, including the syllabus and expectations. We then launch into the history of the web, how the web actually works, and set everyone up with the necessary tools to start the course.</p>
        <aside class="breadcrumb">
          <strong>Inspiration for the week: </strong> 
        </aside>
        <h5>Lecture</h5>
        <ul>
          <li>Introduction to the course.</li>
          <li>Discovering the industry of web development and design.</li>
          <li>How the web works and browser internals.</li>
        </ul>
        <h5>Lab</h5>
        <ul>
          <li>Introduction to Git.</li>
          <li>Installing and setting up Git.</li>
          <li>Forking course repository, making commits.</li>
        </ul>
      </div>
    </div>
    <div class="row week" data-date="2013-01-28">
      <div class="span1 week-number">
        <h3><span class="element-invisible">week</span> 2</h3>
      </div>
      <div class="span8">
        <h4 class="title">HTML: The basics</h4>
        <p>In the beginning, Sir Tim Berners-Lee crated HTML. And it was good. Today we use lots of fancy technologies to power the web, but in the end we're just creating HTML markup for browsers to display. This week will cover the basics of HTML and DOM theory.</p>
        <aside class="breadcrumb">
          <strong>Inspiration for the week: </strong> <a href="http://browserquest.mozilla.org/">BrowserQuest</a>
        </aside>
        <h5>Lecture</h5>
        <ul>
          <li>XML, HTML, and structured markup.</li>
          <li>The family tree: ancestors, children, siblings.</li>
          <li>Available tags and common attributes.</li>
        </ul>
        <h5>Lab</h5>
        <ul>
          <li>Building a web page.</li>
          <li>Using the browser's HTML inspector.</li>
        </ul>
      </div>
    </div>
    <div class="row week" data-date="2013-02-04">
      <div class="span1 week-number">
        <h3><span class="element-invisible">week</span> 3</h3>
      </div>
      <div class="span8">
        <h4 class="title">HTML: HTML5 and the future</h4>
        <p>I have seen the future, and it is the browser.</p>
        <aside class="breadcrumb">
          <strong>Inspiration for the week: </strong> 
        </aside>
        <h5>Lecture</h5>
        <ul>
          <li>Advanced tags.</li>
          <li>Structured markup, and why it is important.</li>
          <li>Introduction to accessibility (a11y).</li>
        </ul>
        <h5>Lab</h5>
        <ul>
          <li>Building a web page.</li>
          <li>Using the browser's HTML inspector.</li>
        </ul>
      </div>
    </div>
    <a name="announcements"></a>
    <h2>Announcements</h2>
    {% if site.posts.length %}
      <p>You can subscribe to announcements <a href="/atom.xml">using the RSS feed</a>.</p>
      <ul class="posts">
        {% for post in site.posts %}
          {% if post.category == "blog" %}
          <li><em>{{ post.date | date_to_string }} &raquo;</em> <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if !site.posts %}
      <div class="alert alert-info">
        <strong>No announcements yet!</strong> Check back for announcements later in the course.
      </div>
    {% endif %}
  </div>
</div>