---
layout: default
---
<a href="https://github.com/csumb-cst251/csumb-cst251.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 5000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="row">
  <div class="span3 sidebar">
    <ul class="nav nav-list cst-nav-list affix">
      <li>
        <a href="#intro">
          <i class="icon-chevron-right"></i>
          Introduction
        </a>
      </li>
      <li>
        <a href="#schedule">
          <i class="icon-chevron-right"></i>
          Schedule
        </a>
      </li>
      <li>
        <a href="#announcements">
          <i class="icon-chevron-right"></i>
          Announcements
        </a>
      </li>
      <li>
        <a href="#resources">
          <i class="icon-chevron-right"></i>
          Resources
        </a>
      </li>
      
    </ul>
  </div>
  <div class="span9">    
    <div class="page-header">
      <h1>CST 251 <small>Web tools</small></h1>
    </div>
    <a name="schedule"></a>
    <h2>Schedule</h2>
    
    <div class="alert">
      <strong>Watch out!</strong> The schedule might change during the course. Subscribe to the <a href="#announcements">announcements</a> to be notified of any corrections.
    </div>
    <div>
    <a class="btn" id="hide-past-weeks">Hide past weeks</a>
    </div>
    <a name="week-1"></a>    <a name="week-1 half-week"></a>
    <div class="row week week-1 half-week">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 1</h3>
        <time datetime="2013-01-22">January 22</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Introduction: What's the web?</h4>
        <p>We'll cover the sundry administrative requirements of the course, including the syllabus and expectations. We then launch into the history of the web, how the web actually works, and set everyone up with the necessary tools to start the course.</p>
        <aside class="alert alert-info">
          <strong>Inspiration for the week: </strong> <a href="http://www.chromeexperiments.com/">Google Chrome Experiments</a>
        </aside>
        <div class="readings">
          <h4>Readings</h4>
          <ul class="resources">
            <li class="read">
              <strong><a href="http://www.20thingsilearned.com/">20 Things I Learned about Browsers &amp; the Web</a></strong> - A beautifully put together online book that covers the web and other internet-y things. Also note all those fancy page turning animations are pure HTML5 goodness to boot.
            </li>
          </ul>
        </div>
        <div class="day">
          <a name="week-1-day-1"></a>
          <h5><time datetime="2013-01-23">Day one</time></h5>
          <h6>Lecture</h6>
          <ul class="day-links">
            <li>
            <a target="_blank" href="/course/week-1/lecture/day-1/outline.html" class="label label-success">
              Outline
            </a>
            </li>
            <li>
            <a target="_blank" href="/course/week-1/lecture/day-1/presentation.html"  class="label label-info">
              Presentation
            </a>
            </li>
          </ul>
          <ul>
            <li>Introduction to the course.</li>
            <li>Discovering the industry of web development and design.</li>
            <li>How the web works.</li>
          </ul>
          <h6>Lab</h6>
          <ul>
            <li>Create your GitHub account.</li>
            <li>Completing course survey.</li>
          </ul>
        </div>
      </div>
    </div>    
    <a name="week-2"></a>
    <div class="row week week-2">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 2</h3>
        <time datetime="2013-01-28">January 28</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">HTML: The basics</h4>
        <p>In the beginning, Sir Tim Berners-Lee crated HTML. And it was good. Today we use lots of fancy technologies to power the web, but in the end we're just creating HTML markup for browsers to display. This week will cover the basics of HTML and DOM theory.</p>
        <aside class="alert alert-info">
          <strong>Inspiration for the week: </strong> <a href="http://browserquest.mozilla.org/">BrowserQuest</a>
        </aside>
        <div class="readings">
          <h4>Readings</h4>
          <ul class="resources">
          <li class="read">
            <strong><a href="http://git-scm.com/book">Pro Git</a></strong> - You only need to read Chapters 1 &amp; 2.
          </li>
          <li class="watch">
            <strong><a href="http://git-scm.com/videos">Pro Git Videos</a></strong> - View all four videos.
          </li>
          <li class="practice">
            <strong><a href="http://try.github.com/levels/1/challenges/1">Git challenges</a></strong> - Become a Git rockstar with interactive terminal training from GitHub. You only need to get half-way through this training.
          </li>
        </ul>
        </div>
        <div class="projects">
          <h4>Projects</h4>
          <ul>
            <li><strong><a href="/projects/week-2/forming-teams.html">Form your teams</a></strong> - Work together to complete an overview of your team and your team's company.</li>
            
          </ul>
        </div>
        <div class="day">
          <a name="week-2-day-1"></a>
          <h5><time datetime="2013-01-28">Day one</time></h5>
          <h6>Lecture</h6>
          <ul class="day-links">
            <li>
            <a target="_blank" href="/course/week-2/lecture/day-1/outline.html" class="label label-success">
              Outline
            </a>
            </li>
            <li>
            <a target="_blank" href="/course/week-2/lecture/day-1/presentation.html"  class="label label-info">
              Presentation
            </a>
            </li>
          </ul>
          <ul>
            <li>Overview of HTML - tags &amp; attributes.</li>
            <li>The family tree: nested HTML tags</li>
          </ul>
          <h6>Lab</h6>
          <ul>
            <li>cHeTmMeLe - HTML card game.</li>
          </ul>
        </div>
        <div class="day">
          <h5><time datetime="2013-01-30">Day two</time></h5>
          <h6>Lecture</h6>
          <ul class="day-links">
            <li>
            <a target="_blank" href="/course/week-2/lecture/day-2/outline.html" class="label label-success">
              Outline
            </a>
            </li>
            <li>
            <a target="_blank" href="/course/week-2/lecture/day-2/presentation.html"  class="label label-info">
              Presentation
            </a>
            </li>
          </ul>
          <ul>
            <li>Overview of Git &amp; version control tools</li>
            <li>Forking, branching and merging.</li>
            
          </ul>
          <h6>Lab</h6>
          <ul>
            <li>Introduction to Git.</li>
            <li>Installing and setting up Git.</li>
            <li>Forking course repository, making commits.</li>
            <li>Initiating pull requests.</li>
            <li>Break into teams.</li>
          </ul>
        </div>
      </div>
    </div>    
    <a name="week-3"></a>
    <div class="row week week-3">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 3</h3>
        <time datetime="2013-02-04">February 4</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">HTML: HTML5 and the future</h4>
        <p>I have seen the future, and it is the browser.</p>
        <aside class="alert alert-info">
          <strong>Inspiration for the week: </strong> <a href="http://thewildernessdowntown.com/">The wilderness downtown</a>
        </aside>
        <div class="day">
          <a name="week-2-day-1"></a>
          <h5><time datetime="2013-01-28">Day one</time></h5>
          <h6>Lecture</h6>
          <ul class="day-links">
            <li>
            <a target="_blank" href="/course/week-2/lecture/day-1/outline.html" class="label label-success">
              Outline
            </a>
            </li>
            <li>
            <a target="_blank" href="/course/week-2/lecture/day-1/presentation.html"  class="label label-info">
              Presentation
            </a>
            </li>
          </ul>
          <ul>
            <li>Advanced tags.</li>
            <li>Structured markup, and why it is important.</li>
            <li>Introduction to accessibility (a11y).</li>
          </ul>
          <h6>Lab</h6>
          <ul>
            <li>Building a web page.</li>
            <li>Using the browser's HTML inspector.</li>
          </ul>
        </div>
      </div>
    </div>    
    <a name="week-4"></a>
    <div class="row week week-4">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 4</h3>
        <time datetime="2013-02-11">February 11</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">The browser &amp; developer tools</h4>
        <p>
          An introduction to browser internals, the HTTP protocol, and ways to debug your web pages using tools built into modern browsers.
        </p>
        <aside class="alert alert-info">
          <strong>Inspiration for the week: </strong> <a href="http://workshop.chromeexperiments.com/stars/">Visualizing 100,000 stars in chrome</a>
        </aside>
      </div>
    </div>    
    <a name="week-5"></a>
    <div class="row week week-5">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 5</h3>
        <time datetime="2013-02-18">February 18</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">CSS Selectors &amp; specificity</h4>
        <p>
          CSS selectors can be complicates, we'll look at selector theory and the all-important rules of specificity. This is the "Cascading" part of CSS.
        </p>
      </div>
    </div>    
    <a name="week-6"></a>
    <div class="row week week-6">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 6</h3>
        <time datetime="2013-02-25">February 25</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">CSS Styles: the basics</h4>
        <p>
          Now that we can select different elements on the page, we should apply some style. We'll cover the basics of CSS styles, including colors, positioning, and backgrounds.
        </p>
      </div>
    </div>    
    <a name="week-7"></a>
    <div class="row week week-7">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 7</h3>
        <time datetime="2013-03-04">March 4</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">CSS Styles: advanced</h4>
        <p>
          OK, you can make something colorful, change it's background, and stick it anywhere you want on a screen... but can you round the corners, spin it 15 degrees, and make it play well with other elements on the page?
        </p>
      </div>
    </div>    
    <a name="week-8"></a>
    <div class="row week week-8">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 8</h3>
        <time datetime="2013-03-11">March 11</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">CSS3 styles &amp; transitions</h4>
        <p>
          Style doesn't need to stand still, we can use CSS transitions to move, shake, and shimmy our way across the page. This week will cover basic CSS animations using transition states and modern browsers.
        </p>
      </div>
    </div>    
    <a name="week-9 inactive"></a>
    <div class="row week week-9 inactive">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 9</h3>
        <time datetime="2013-03-18">March 18</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Spring break</h4>
        <div class="alert">
          <strong>Spring break!</strong> Have fun, take some time to catch up if need be.
        </div>
      </div>
    </div>    
    <a name="week-10"></a>
    <div class="row week week-10">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 10</h3>
        <time datetime="2013-03-25">March 25</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Common layout patterns in CSS</h4>
        <p>
          CSS is amazingly expressive for such a tiny language. We'll learn how to tame the beast using best practices and layout patterns that you can reuse over and over again.
        </p>
      </div>
    </div>    
    <a name="week-11 half-week"></a>
    <div class="row week week-11 half-week">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 11</h3>
        <time datetime="2013-04-01">April 1</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Bootstrap, CSS frameworks, &amp; how to write LESS css</h4>
        <p>
          Layout patterns are nice, but letting other people do the hard work for us is more awesomer! We'll plug into the world of CSS frameworks and CSS super-structures like SASS and LESS.
        </p>
      </div>
    </div>    
    <a name="week-12"></a>
    <div class="row week week-12">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 12</h3>
        <time datetime="2013-04-08">April 8</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Introduction to the CMS &amp; Drupal</h4>
        <p>
          The era of the "webmaster," where some dude in a trailer updated your website for $50 a month is dead. Most sites use some sort of CMS (Content Management System) to... um... manage their content. We'll get an introduction to CMSes and start working with Drupal.
        </p>
      </div>
    </div>    
    <a name="week-13"></a>
    <div class="row week week-13">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 13</h3>
        <time datetime="2013-04-15">April 15</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Basic site building in Drupal</h4>
        <p>
        Even if you are never, ever, going to write a line of code in your life, understanding the CMS, and a popular one like Drupal, will give you a leg up in the world. We'll cover how to install, do basic maintenance, and play around with Drupal.
        </p>
      </div>
    </div>    
    <a name="week-14"></a>
    <div class="row week week-14">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 14</h3>
        <time datetime="2013-04-22">April 22</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">TWiG: Templating language for Drupal &amp; beyondt</h4>

      </div>
    </div><div class="row week week-15">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        <h3><span class="element-invisible">week</span> 15</h3>
        <time datetime="2013-04-29">April 29</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Advanced TWiG</h4>

      </div>
    </div>    
    <a name="week-16"></a>
    <div class="row week week-16">
      <div class="span1 week-number">
        <div class="week-number-wrapper">
        
        <h3><span class="element-invisible">week</span> 16</h3>
        <time datetime="2013-05-06">May 6</time>
        </div>
      </div>
      <div class="span8">
        <h4 class="title">Final projects</h4>

      </div>
    </div>
    <a name="announcements"></a>
    <h2>Announcements</h2>
    {% if site.posts.length %}
      <p>You can subscribe to announcements <a href="/atom.xml">using the RSS feed</a>.</p>
      <ul class="posts">
        {% for post in site.posts %}
          {% if post.category == "blog" %}
          <li><em>{{ post.date | date_to_string }} &raquo;</em> <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if !site.posts %}
      <div class="alert alert-error">
        <strong>No announcements yet!</strong> Check back for announcements later in the course.
      </div>
    {% endif %}
    <a name="resources"></a>
    <h2>Resources</h2>
    <p class="lead">
      Most course resources are available in different formats so you can customize this list to meet your learning style.
    </p>
    <div>
      <div class="btn-group resources-toggle">
        <button class="btn active" data-enable=".read"><i class="icon-book"></i> Read</button>
        <button class="btn active" data-enable=".watch"><i class="icon-film"></i> Watch</button>
        <button class="btn active" data-enable=".practice"><i class="icon-wrench"></i> Practice</button>
      </div>
    </div>

    <a name="suggested"></a>
    <h2>Suggested</h2>
    <ul>
      <li>
        
      </li>
    </ul>
    <a name="awesome"></a>
    <h2>I'm going to be awesome</h2>
    <p>Have some extra time to watch the <strong>inventor of the internet</strong> talk about the web? Want to peek into a browser's guts? Check out some of these resources to add some zest to your life.</p>
    <h3>Browser internals</h3>
    <ul class="resources">
      <li class="read">
        <strong><a href="http://www.html5rocks.com/en/tutorials/internals/howbrowserswork/">How browsers work</a></strong> - An exhaustive overview of WebKit browser internals. Some sections are very technical, but the first few chapters are informative.
      </li>
      <li class="watch">
        <strong><a href="http://www.youtube.com/watch?v=a2_6bGNZ7bA">Faster HTML and CSS: Layout Engine Internals for Web Developers</a></strong> - David Baron from Mozilla talking about browser internals.
      </li>
    </ul>
    <h3>cHTeMeLe - HTML5 board game!</h3>
    <p class="resources">The world's <a href="http://www.ulule.com/chtemele/">first HTML5-certified board game</a> can be <a href="http://www.ulule.com/chtemele/news/chtemele-premier-jeu-plateau-certifie-html5-en-telechargement-gratuit-print-and-play-8109/">printed and played for free</a>.</p>
  </div>
</div>