.editor {
  position: absolute;
  width: 100%;
  font-size: 300%;
  border-bottom: 3px solid #f0f0f0;
}

#preview {
  padding: 10px;
}

.nav-list {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#settings {
  position: absolute;
  right: 5px;
}

.editor.half {
  width: 50%;
}


.editor.half {
  width: 50%;
}