<!DOCTYPE html>
<html>
	<head>
		<title>CST 251 | {{ page.title }}</title>
		<link rel="stylesheet" href="/course-website/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/course-website/prettify/prettify.css"/>
		<link rel="stylesheet" href="/course-website/css/course.css"/>

	</head>
	<body data-spy="scroll" data-target=".cst-nav-list" class="cst-251">
	  <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">CST 251: Web tools</a>
        <ul class="nav">
          <li><a href="/README.html">Syllabus</a></li>
          <li><a href="/#this-week">This week</a></li>
          <li><a href="/#schedule">Schedule</a></li>
          <li class="dropdown">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" id="projects-list" aria-labelledby="drop1">
            </ul>
          </li>
          <li><a href="/#resources">Resources</a></li>
        </ul>
      </div>
    </div>
		<div class="container">
		  <ul class="breadcrumb">
    
      {% assign b = " " %}
      {% capture b %}{{site.base_dir}}{% endcapture %}
      <li><a href="{{site.base_dir}}/">Home</a> <span class="divider">/</span></li>
      {% for b in page.breadcrumbs %}
        <li><a href="{{b.href}}">{{b.title}}</a> <span class="divider">/</span></li>
      {%endfor%}
      <li class="active">{{ page.title }}</li>
      </ul>
		</div>
		<div class="container">
		
			{{ content }}
		</div>
  <script src="/course-website/js/jquery.js"></script>
  <script src="/course-website/prettify/prettify.js"></script>
  <script src="/course-website/js/course.js"></script>
  <script src="/course-website/bootstrap/js/bootstrap.min.js"></script>

	</body>
</html>
