<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

	<title>{{ page.title }}</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="../../../common/reveal.js/css/reveal/css/reveal.min.css">
		<link rel="stylesheet" href="../../../common/reveal.js/js/reveal/css/theme/default.css" id="theme">
		<link rel="stylesheet" href="../../../common/reveal.js/js/reveal/lib/css/zenburn.css">
		<style>
		  p.more {
  		  
		  }
		</style>
		<script>
			document.write( '<link rel="stylesheet" href="reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

<body>
	{{ content }}
	<div class="progress"><div></div></div>
	
	<script src="/course-website/presentation/script.js"></script>
	<script src="/course-website/jquery.js"></script>
	<script src="/course-website/prettify/prettify.js"></script>
	<script src="/course-website/presentation/course-presentation.js"></script>
</body>
</html>